ClientService.Server/ClientsService/.vs
ClientService.Server/ClientsService/ClientsService.BLL/bin
ClientService.Server/ClientsService/ClientsService.BLL/obj
ClientService.Server/ClientsService/ClientsService.BLL.Tests/bin
ClientService.Server/ClientsService/ClientsService.BLL.Tests/obj
ClientService.Server/ClientsService/ClientsService.DDL/bin
obj
bin
.vscode
node_modules
